[submodule "MOHLevelViewer/Libs/ImGuiFileDialog"]
	path = MOHLevelViewer/Libs/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
	branch = Lib_Only
[submodule "MOHLevelViewer/Libs/cimgui"]
	path = MOHLevelViewer/Libs/cimgui
	url = https://github.com/cimgui/cimgui
